.article-wrapper {
    width: 100%;
    display: flex;
}

.article-image { 
    width: 45%; 
    min-height: 437px;
    max-height: 600px;
    background-color: #ffff;
    box-shadow: 0px 2px 5px #0000001A;
    border-radius: 3px;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4% 2%;
    box-sizing: border-box;
}

.article-image img { max-width: 50%; max-height: 100%;}

.article-wrapper h2 {
    text-align: left;
    font: normal normal bold 24px/32px Roboto;
    letter-spacing: 0px;
    color: var(---main-blue);
    margin: 0;
}

.article-details-wrapper { display: flex; flex-direction: column; width: 55%;}

.article-description-category { display: flex;  width: 100%;}

.article-description p { 
    text-align: left;
    font: normal normal normal 16px/26px Roboto;
    letter-spacing: 0px;
    color: var(---darkgrey)
}

.article-description, .article-price { width: 75%;}

.article-category {  margin-left: 40px; }
.article-category .product-category { margin-top: 20px;  }

.price-info-wrapper { 
    display: flex; 
    height: 40px; 
    margin-top: 20px; 
    justify-content: space-between; 
    align-items: center;
}


.price-with-vat {
    text-align: right;
    font: normal 16px/21px Roboto;
    color: var(---darkgrey)
}

.price-with-vat span { font-weight : bold;}

button[type="submit"] {
    width: 137px;
    height: 40px;
    background: var(---main-blue) 0% 0% no-repeat padding-box;
    border: 1px solid var(---main-blue);
    border-radius: 3px;
    color: #ffffff;
    margin-top: 40px;
    cursor: pointer;
} 

button:disabled { cursor: default;}


/*** TABLET ***/
@media screen and (min-width: 490px) and (max-width: 1000px) {
    .article-wrapper { flex-direction: column; align-items: center;}
    .article-wrapper .article-image { width: 70%}

    .article-details-wrapper { width: 100%; margin-top: 30px}
}


/*** MOBILE ***/
@media screen and (max-width: 490px) {
    .article-wrapper { flex-direction: column; align-items: center;}
    .article-wrapper .article-image { width: 100%; margin: 0; padding: 0}

    .article-image {
        max-height: 300px;
        min-height: 300px;
    }

    .article-image img { 
        max-width: 40%;
        max-height: 55%;
    }

    .article-details-wrapper { margin-top: 30px; width: 90%; justify-content: space-between;}

    .article-category .product-category { font-size: 14px;}
    .article-price { width: 100% }
    .price-with-vat { text-align: right;}
}