nav {
    width: 20%;
    min-height: 100vh;
    background-color: var(---main-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 58px 50px;
}

.active a { position: relative; left: 15px;}
.active a::before { 
    content : ''; 
    position: relative; 
    left: -15px;
    height: 10px;
    width: 10px;
    display: inline-block;
    background: white;
    border-radius: 100%;
}

nav img { width: 174px; margin-bottom: 115px;}

.nav-links-wrapper { width: 100%;}

.nav-links-wrapper a {
    font: normal normal bold 16px/21px Roboto;
    color: white;
    text-decoration: none;
}

nav ul  { margin: 0; padding: 0;}

nav ul li { list-style-type: none; margin-bottom: 33px; color: #FFFFFF;}

.nav-links-block-separator { 
    border: 1px solid #FFFFFF;
    opacity: 0.5;
    margin-bottom: 33px;
}

/*** TABLET ***/
@media screen and (min-width: 490px) and (max-width: 1000px) {
    nav { width: 15%}
}

/** MOBILE **/
@media screen and (max-width: 489px) {
    nav { 
        width: 100%; 
        min-height: 75px; 
        flex-direction: row; 
        justify-content: space-between;
        padding: 0px 10px;
        box-sizing: border-box;
        cursor: pointer;
    }
    nav img { margin: 0px ; width: 100px ;}

    .toggle-navbar-open {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 9px solid #ffffff;
    }

    .toggle-navbar-close {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 9px solid #ffffff;
    }

    .nav-links-wrapper {
        position: absolute;
        top: 75px;
        background: var(---main-blue);
        width: 100%;
        left: 0;
        padding: 15px 60px;
        box-sizing: border-box;
    }

    .nav-links-wrapper a { font-size: 14px;}
}