@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root { 
  ---main-blue: #564AFF; 
  ---lightgrey: #FBFBFB;
  ---grey: #0000001A;
  ---darkgrey: #707070;
  ---orange: #FFA846;
  ---green : #32B436;
  display: flex;
}


.page-wrapper { padding: 68px 50px; box-sizing: border-box; width: 100%;}